<h1>TopGeek社区介绍</h1>
<div>
		<p><a href="http://topgeek.org">TopGeek</a>组织是一个面向高级软件和互联网技术人员的组织，主要讨论软件和互联网的一些新的技术潮流，开发理念和经验。<br>
在现在技术山头林立，以语言或行业划分圈子的社区组织状态下，我们坚持认为，按技术流派形成圈子的做法不能满足高级技术人员需要。<br>
我们希望打破技术分割，帮助社区人员开拓思路，互相学习，资源共享。解决一些成熟技术人员进一步发展的共同问题，形成一些好的朋友圈子。</p>
<p><strong>特点是：</strong></p>
<ul>
<li> 线下活动为主，与会人员和主题不分程序开发语言、不分开源还是商业软件，不分终端是PC还是手机。提倡跨界交流。</li>
<li> 以高级技术人员为主，活动中鼓励频繁沟通，对问题的深入探究。</li>

</ul>
<p />
<p><strong>社区据点：</strong></p>
<ul>
<li>组织博客 <a href="http://topgeek.org">http://topgeek.org</a></li>
<li>新浪微博 <a href="http://t.sina.com.cn/topgeek">http://t.sina.com.cn/topgeek</a></li>
<li>豆瓣小组 <a href="http://www.douban.com/group/TopGeek/">http://www.douban.com/group/TopGeek/</a></li>
</ul>
<p />
<p><strong>发起人：</strong><a href="bopor.com">陈世欣</a></p>

<ul>
<li> 上海交大计算机系硕士</li>
<li> 现为创业公司道融网络的CTO</li>
<li> 个人博客 bopor.com</li>
<li> 微博 http://t.sina.com.cn/stingchen</li>
<li> 从2006年起参加和组织社区，曾组织过python聚会，参与组织过google技术社区GTUG，参加过20多次各类社区。</li>
<li> 最近成功组织了上海最大的产品经理社区PMCamp(微博http://t.sina.com.cn/pmcamp，博客 http://pmcamp.info)</li>

</ul>
<p />
<p><strong>组织者：</strong></p>
<ul>
<li>陈世欣（道融）</li>
<li>王宏（微软）</li>
<li>李锟（阿里巴巴）</li>
<li><a href="http://lxneng.com/">罗小能lxneng.com</a></li>
<li>李正洋（某创业公司产品经理）</li>
<li><a href="http://blog.loushizan.com/">楼士赞</a></li>

</ul>
  
        		</div>