<!DOCTYPE html>
<html>
<head>
<title>
         TopGeek——和而不同， 为而不争，让好奇心引导我寻找技术的道！
    </title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="shortcut icon"  href="http://topgeek.org/favicon.ico"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){  
	    $(".menu_li").mouseover(function(){
	        $(this).addClass('hover');
	    }).mouseout(function(){
	        $(this).removeClass('hover');
	    });
	});
</script>
<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css' />
<link type="text/css" rel="stylesheet" href="/stylesheets/all.css" me
    dia="screen, projection" />
</head>
<body>
    <div class="header">
        <div class="wapper">
            TopGeek.org
        </div>
        <div class="menu">
            <ul class="wapper clearfix">
                <li class="menu_li">
                    <span><a href="/">首页</a></span>
                </li>
                <li class="menu_li">
                    <span><a href="#">活动</a></span>
                </li>
				<li class="menu_li">
                    <span><a href="#">话题</a></span>
                </li>
                <li class="menu_li">
                    <span><a href="http://topgeek.org">博客</a></span>
                </li>
                <li class="menu_li">
                    <span><a href="/weibo">微博</a></span>
                </li>
				<li class="menu_li">
                    <span><a href="/about">关于我们</a></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="wapper clearfix">
	<%= yield %>
    </div>

	<div id="footer">
	  <div class="wapper">
	  <span>
	    &copy; 2010 topgeek, all rights reserved
	  </span>
	  </div>
	</div>
	</body>
</html>
